
.segoe14pt{
    font-family: 'Courier New', Courier, monospace !important;
    font-size: 14px;
    background-color: rgba(248,249,250);
}

body{
    font-weight: 400;
}

/* .vertical-line{
    height: 20px;
    border-left: 6px solid green;
} */